body{
    background-color: #F1E5D1;
    
}
h3{
    position: absolute;
    top: 27%;
    right: 28%;
    color: white;

}
h5{
    position: absolute;
    top: 35%;
    left: 50%;
    right: 10%;
    color: white;
    text-align: center;
    
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 78%;
    right: 5%;
    width: 15%;
    height: 10%;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid white;
  }
  
  .button1:hover {
    background-color:#D5B4B4;
    color: white;
  }